:root {
	--color-stone-50: oklch(98.5% 0.001 106.423);
	--color-stone-100: oklch(97% 0.001 106.424);
	--color-stone-200: oklch(92.3% 0.003 48.717);
	--color-stone-300: oklch(86.9% 0.005 56.366);
	--color-stone-400: oklch(70.9% 0.01 56.259);
	--color-stone-500: oklch(55.3% 0.013 58.071);
	--color-stone-600: oklch(44.4% 0.011 73.639);
	--color-stone-700: oklch(37.4% 0.01 67.558);
	--color-stone-800: oklch(26.8% 0.007 34.298);
	--color-stone-900: oklch(21.6% 0.006 56.043);
	--color-stone-950: oklch(14.7% 0.004 49.25);
	--color-teal-50: oklch(98.4% 0.014 180.72);
	--color-teal-100: oklch(95.3% 0.051 180.801);
	--color-teal-200: oklch(91% 0.096 180.426);
	--color-teal-300: oklch(85.5% 0.138 181.071);
	--color-teal-400: oklch(77.7% 0.152 181.912);
	--color-teal-500: oklch(70.4% 0.14 182.503);
	--color-teal-600: oklch(60% 0.118 184.704);
	--color-teal-700: oklch(51.1% 0.096 186.391);
	--color-teal-800: oklch(43.7% 0.078 188.216);
	--color-teal-900: oklch(38.6% 0.063 188.416);
	--color-teal-950: oklch(27.7% 0.046 192.524);
	--max-text-width: 42rem;
}

/* TODO: Checken of hier dingen nog naar inline moeten verplaatsen of andersom */
/* TODO: Color tekst weghalen bij alle css vars */
/* Align items using flex */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: var(--color-stone-100);
	color: var(--color-stone-900);
	font-family: Georgia, serif;
	font-size: 18px;
	line-height: 1.6;

	& header {
		margin: 3rem auto;
	}

	& main {
		& section {
			max-width: var(--max-text-width);
			margin: 0 auto 1rem auto;
		}
	}

	& ul li {
		/* margin-left: 2rem; */
	}

	& a {
		color: var(--color-teal-600);
	}
	& a:hover {
		color: var(--color-teal-700);
	}
}
